@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;400;700;900&family=Roboto&display=swap');

html {
    --blue: 65, 124, 190;
    --rgb-blue: rgb(var(--blue));
    --orange: 242, 205, 87;
    --rgb-orange: rgb(var(--orange));
    --white: 255, 255, 255;
    --rgb-white: rgb(var(--white));
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

ul {
    list-style: none;
}

body {
    background: var(--rgb-blue);
}

header {
    height: 15rem;
    width: 100%;

}
nav {
/*     background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(var(--white),0.8) 0%, rgba(0,0,0,0) 100%); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    background: var(--rgb-blue);
    z-index: 100;
}


.nav-1, .nav-2 {
    display: flex;

}
.nav-2 {
    justify-content: center;
}
.nav-1 {
    justify-content: flex-end;
    margin-bottom: -2rem;
}
.navbar-wrapper {
    position: relative;
    z-index: 1000;
}
nav li {
    list-style: none;
    display: inline;
}
nav li:not(:last-of-type)::after {
    content: '|';
    padding-left: 10px;
    padding-right: 10px;
    color: var(--rgb-white);
}
a {
    color: var(--rgb-orange);
    text-decoration: none;

}

.logo {
    width: 200px;
}
.right-navbar {

}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2 {
    color: rgba(var(--white),0.15);
    font-weight: 900;
    font-size: 4rem;
}

.schedule {
    color: white;
}
.schedule li {
    margin: 3rem 0;
}

.time {
    font-size: 2rem;
    color: rgba(var(--orange), 0.5);
    padding-right: 1rem;
    // width: 10rem;
}

.time::after {
    content: '-';
    padding-left: 10px;
    padding-right: 10px;
    color: var(--rgb-white);
}

h3 {
    font-size: 2rem;
    margin: 0;
}

.schedule {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.schedule ul {
    border-left: 5px solid rgba(var(--orange), 0.25);
    position: relative;
}

.notes {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.highlight {
    display: flex;
}
.highlight::before {
    content: "*";
    // transform: rotate(90deg);
    // margin-right: 1rem;
    // margin-left: -1rem;
    font-size: 1.5rem;
    color: var(--rgb-orange);
    font-weight: 900;
    display: inline;
}

.highlight .time {
    color: var(--rgb-orange) !important;
}

.background-image {
    background-image: url(./img/jrgaming-avatar.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.15;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translatex(40%);
    z-index: 101;
}

.anchor {
    padding-top: 14rem;
    margin-top: -14rem;
}

@media screen and (max-width: 1566px) {
    header {
        height: 16rem;
    }
    .anchor {
        padding-top: 19rem;
        margin-top: -19rem;
    }
}
@media screen and (max-width: 870px) {
    body {
        padding: 0 1.5rem;
    }
    .nav-1 {
        padding-right: 1rem;
    }
    .nav-2 {
        justify-content: flex-start;
    }
    .center-navbar {
        display: none;
    }
}